<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-area="User" asp-controller="Home" asp-action="Dashboard"  class="nav-link active">داشبورد</a></li>
        <li><a asp-area="User" asp-controller="Account" asp-action="EditProfile"  class="nav-link active">ویرایش اطلاعات</a></li>
        <li> <a asp-area="User" asp-controller="Account" asp-action="ChangePassword" class="nav-link">تغییر رمز عبور</a></li>
        <li> <a asp-controller="Ticket" asp-action="AddTicket" class="nav-link">ثبت تیکت جدید</a></li>
        <li> <a asp-controller="Ticket" asp-action="Index" class="nav-link">لیست تیکت ها</a></li>
        <li> <a asp-area="User" asp-controller="Seller" asp-action="RequestSellerPanel" class="nav-link">درخواست پنل فروشندگی</a></li>
        <li> <a asp-area="User" asp-controller="Seller" asp-action="SellerRequests" class="nav-link">درخواست های فروشندگی</a></li>
        <li><a asp-controller="Acount" asp-action="LogOut" class="nav-link">خروج</a></li>
    </ul>
</div>